{% load thumbor_tags %}

 <a href="{% url 'infographics:list_infographic'%}">< All infographics </a><br/>
 Opps Infographic Detail

<h1>{{ infographic.title }}</h1>
<div>{{ infographic.headline|safe }}</div>

{% if infographic.main_image %}
<img src="{% thumbor_url infographic.main_image.image.url width=100 %}" />
{% endif %}

{% if error %}
<div class="alert alert-error">
  {{ error }}
</div>
{% endif %}


<form method="post">
    {% csrf_token %}
    {{ infographic.form.as_p }}
    <input type="submit" value="Vote">
</form>
